<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="logo-nav" src="logo.png" alt="logo">
  <a class="navbar-brand nombre-pag" href="#">Ingeciencia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nav-links">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Preguntas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Recursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Investigadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>

    <!-- Botón para mostrar/ocultar la barra de búsqueda -->
    <button class="btn-search" type="button" (click)="toggleSearch()">
      <i class="fas fa-search icono-busqueda"></i>
    </button>

    <!-- Barra de búsqueda que se muestra/oculta -->
    <form class="form-inline my-2 my-lg-0 form-busqueda" *ngIf="isSearchVisible">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar articulo o persona..." aria-label="Search">
      <button class="btn btn-outline- my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>

  <button type="button" class="btn-publicaciones">Mis publicaciones</button>

  <!-- User profile image with dropdown menu -->
  <div class="dropdown">
    <button class="btn-usuario" type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      <img src="assets/icons/usuario.png" alt="User">
    </button>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
      <a class="dropdown-item" href="#">Profile</a>
      <a class="dropdown-item" href="#">Settings</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Logout</a>
    </div>
  </div>

</nav>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">