.logo-nav {
  max-width: 4rem;
}

.nombre-pag {
  font-family: "Brawler", serif;
  font-size: 1.7rem;
}

.nav-links {
  margin-left: 2rem;
  gap: 1rem;
}

.icono-busqueda {
  color: black;
  font-size: 1.5rem;
}

.btn-search {
  background: none;
  border: none;
  padding: 0.4rem;
  margin-right: 0.5rem;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.btn-publicaciones {
  background-color: #003b5c;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 0.25rem;

  &:hover {
    background-color: #005f8c;
    cursor: pointer;
  }
}

.form-busqueda {
  margin: 0 1rem 0 0.5rem;
}

.btn-usuario {
  background: none;
  border: none;
  padding: 0.4rem;
  margin-right: 0.5rem;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  img {
    border-radius: 50%;
    border: 1px solid lightgray;
    max-width: 2.5rem;
  }
}

.dropdown-menu {
  right: 0;
  left: auto;
}
