<div class="container">
  <div class="form-wrapper">
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
      <div class="campo">
        <label for="biography">Biografía:</label>
        <textarea id="biography" formControlName="biography"></textarea>
        <div
          *ngIf="profileForm.get('biography')?.invalid && (profileForm.get('biography')?.dirty || profileForm.get('biography')?.touched)"
          class="error-message">
          <div *ngIf="profileForm.get('biography')?.errors?.['required']">La biografía es requerida.</div>
        </div>
      </div>

      <div class="campo">
        <label for="experience">Experiencia:</label>
        <textarea id="experience" formControlName="experience"></textarea>
        <div
          *ngIf="profileForm.get('experience')?.invalid && (profileForm.get('experience')?.dirty || profileForm.get('experience')?.touched)"
          class="error-message">
          <div *ngIf="profileForm.get('experience')?.errors?.['required']">La experiencia es requerida.</div>
        </div>
      </div>

      <div class="campo select-categoria">
        <label for="categorySearch">Disciplinas:</label>
        <input id="categorySearch" [formControl]="searchControl" placeholder="Buscar..." (focus)="onSearchFocus()"
          (blur)="onSearchBlur()">
        <ul *ngIf="isSearchFocused && filteredCategories.length > 0" class="filtered-categories-list">
          <li *ngFor="let category of filteredCategories" (click)="addCategory(category)">
            {{ category.category_name }}
          </li>
        </ul>
      </div>

      <div class="campo categorias-agregadas">
        <ul class="added-categories-list">
          <li *ngFor="let category of addedCategories">
            {{ category.category_name }}
            <span (click)="removeCategory(category)">×</span>
          </li>
        </ul>
      </div>

      <div *ngIf="errorMessage" class="error-message-2">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

      <button type="submit" [disabled]="profileForm.invalid">Guardar Perfil</button>
    </form>
  </div>

</div>