<header class="navbar">
  <div class="izquierda">
    <div routerLink="Inicio" class="logo">
      <img src="logo.png" alt="Logo">
      <span class="logo-nombre">IngeCiencia</span>
    </div>

    <nav class="nav-links">
      <a routerLink="Inicio" routerLinkActive="active-link">Inicio</a>
      <a *ngIf="isAuthenticated" routerLink="preguntas" routerLinkActive="active-link">Preguntas</a>
      <a routerLink="recursos" routerLinkActive="active-link">Recursos</a>
      <a routerLink="investigadores" routerLinkActive="active-link">Investigadores</a>
      <a *ngIf="isAuthenticated" routerLink="contacto" routerLinkActive="active-link">Contacto</a>
    </nav>
  </div>

  <div class="derecha">
    <div class="search-container">
      <input *ngIf="isSearchVisible" type="text" placeholder="Buscar articulo o investigador...">
      <button class="btn-search" (click)="toggleSearch($event)">
        <i class="bi bi-search"></i>
      </button>
    </div>

    <button *ngIf="userRole === 'editor' || userRole === 'admin'" class="btn-publicaciones"
      routerLink="mis-publicaciones">Mis Publicaciones</button>

    <div *ngIf="isAuthenticated" class="user-dropdown">
      <div class="user-image-container">
        <img *ngIf="userImage; else defaultImage" [src]="userImage" alt="User">
        <ng-template #defaultImage>
          <img src="assets/icons/usuario.png" alt="User">
        </ng-template>
      </div>
      <div class="user-dropdown-content">
        <a routerLink="config">Configuración</a>
        <a href="#">Tema</a>
        <div *ngIf="userRole === 'admin'">
          <hr>
          <a routerLink="panel-admin">Panel de administración</a>
        </div>
        <hr>
        <a (click)="logout()">Logout</a>
      </div>
    </div>

    <div *ngIf="!isAuthenticated" class="login-register">
      <button class="btn-login" (click)="openLoginModal()">Iniciar Sesión</button>
      <button class="btn-register" (click)="openRegisterModal()">Registrarse</button>
    </div>
  </div>

  <!-- Include the login modal component -->
  <app-login #loginModal (closeModal)="closeLoginModal()" class="modal-container"></app-login>
  <app-register #registerModal (closeModal)="closeRegisterModal()" class="modal-container"></app-register>
</header>