<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
<!-- <div *ngIf="projects === null && !errorMessage" class="no-projects-message">
  No tienes proyectos publicados.
</div> -->

<div class="cards-container" *ngIf="projects && projects.length > 0">
  <div *ngFor="let project of paginatedProjects" class="project-card">

    <div class="contenedor-izq">
      <div class="card-header">
        <h2 class="titulo">{{ project.title }}</h2>
        <!-- Lista de categorías -->
        <div class="categories-list">
          <ul class="added-categories-list">
            <li *ngFor="let category of categories[project.id]">
              {{ category.category_name }}
            </li>
          </ul>
        </div>
      </div>
      <p class="detalles">{{ project.details }}</p>

      <p class="fecha"> {{ project.created_at | date }}</p>
    </div>

    <div class="contenedor-der">

      <div class="article-version">
        <ng-container *ngIf="project.status === 'active'; else inactiveStatus">
          <p class="status">Activo</p>
        </ng-container>
        <ng-template #inactiveStatus>
          <p class="status">Inactivo</p>
        </ng-template>
        <p>|</p>
        <p class="article-vacancies"><strong>Vacantes:</strong> {{ project.vacancies }}</p>
      </div>


      <!-- <ng-container *ngIf="project.preview_img_url">
        <div class="article-image-container">
          <img [src]="project.preview_img_url" alt="Preview Image" class="article-img">
        </div>
      </ng-container> -->


      <div class="botones">
        <button (click)="editProject(project)">Editar</button>
      </div>


    </div>

  </div>
</div>

<!-- Paginación -->
<div class="pagination" *ngIf="filteredProjects.length > itemsPerPage">
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
  <button *ngFor="let page of [].constructor(Math.ceil(filteredProjects.length / itemsPerPage)); let i = index"
    (click)="changePage(i + 1)" [class.active]="currentPage === i + 1">{{ i + 1 }}</button>
  <button (click)="changePage(currentPage + 1)"
    [disabled]="currentPage === Math.ceil(filteredProjects.length / itemsPerPage)">Siguiente</button>
</div>