$color-logo: #02182b;
$hover: #635252;
$btn: #003b5c;
$btn-hover: #004974;
$link: #333;
$link-activo: #5c5b6e;
$border: #d1d1ccd1;

.cards-container {
  margin: 3rem 8rem;
}

.article-card {
  margin-bottom: 2rem;
  border: 1px solid $border;
  border-radius: 0.2rem;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative; // Añadir posición relativa para el contenedor

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
    font-weight: normal;
  }

  p {
    margin: 4px 0;
  }

  .article-version {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;

    p {
      font-size: 1.1rem;
      font-weight: 500;
    }
  }
  .botones {
    align-self: flex-end;
    display: flex;
    gap: 1rem;

    button {
      width: 10rem;
      padding: 0.1rem 0.5rem;
      background-color: $btn;
      color: white;
      border: none;
      border-radius: 0.4rem;
      cursor: pointer;

      &:hover {
        background-color: $btn-hover;
      }
    }
  }
}
