<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

<div class="cards-container">
  <div class="article-card" *ngFor="let article of paginatedArticles">
    <div class="arriba">
      <h1>Articulo</h1>
      <!-- Lista de categorías -->
      <div class="categories-list">
        <ul class="added-categories-list">
          <li *ngFor="let category of categories[article.id]">
            {{ category.category_name }}
          </li>
        </ul>
      </div>
    </div>
    <h2 class="titulo">{{ article.title }}</h2>
    <!-- <p><strong>Autor:</strong> {{ article.id_author }}</p> -->
    <p class="fecha">{{ article.publication_date | date }}</p>
    <!-- <p><strong>DOI:</strong> {{ article.doi }}</p> -->
    <div class="article-version">
      <ng-container *ngIf="article.status === 'published'; else inactiveStatus">
        <p class="status">Activo</p>
      </ng-container>
      <ng-template #inactiveStatus>
        <p class="status">Archivado</p>
      </ng-template>
      <p>|</p>
      <ng-container *ngIf="article.pdf; else preview">
        <!-- <a [href]="article.link" target="_blank"></a> -->
        <p>Texto completo</p>
      </ng-container>
      <ng-template #preview>
        <!-- <img *ngIf="article.preview_img" [src]="article.preview_img" alt="Preview"> -->
        <p>Preview</p>
      </ng-template>
    </div>

    <div class="abajo">
      <!-- Lista de coautores -->
      <div class="coauthors-list">
        <ul class="added-coauthors-list">
          <li *ngFor="let coauthor of coauthors[article.id]">
            <div class="user-image-container">
              <img *ngIf="coauthor.profile_img_url; else defaultImage" [src]="coauthor.profile_img_url"
                class="coauthor-img">
              <ng-template #defaultImage>
                <img src="assets/icons/usuario.png" alt="User">
              </ng-template>
            </div>
            <p>{{ coauthor.first_name }} {{ coauthor.last_name }}</p>
          </li>
        </ul>
      </div>

      <div class="botones">
        <button>Estadisticas</button>
        <button (click)="editArticle(article)">Editar</button>
      </div>
    </div>
  </div>
</div>

<!-- Paginación -->
<div class="pagination" *ngIf="filteredArticles.length > itemsPerPage">
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
  <button *ngFor="let page of [].constructor(Math.ceil(filteredArticles.length / itemsPerPage)); let i = index"
    (click)="changePage(i + 1)" [class.active]="currentPage === i + 1">{{ i + 1 }}</button>
  <button (click)="changePage(currentPage + 1)"
    [disabled]="currentPage === Math.ceil(filteredArticles.length / itemsPerPage)">Siguiente</button>
</div>