<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

<div class="cards-container">
  <div class="question-card" *ngFor="let question of paginatedQuestions" class="question-card">
    <div class="contenedor-izq">
      <div class="izq-sup">
        <div class="card-header">
          <!-- Aquí se muestra el autor -->
          <h1>Pregunta</h1>

          <!-- Lista de categorías -->
          <div class="categories-list">
            <ul class="added-categories-list">
              <li *ngFor="let category of categories[question.id]">
                {{ category.category_name }}
              </li>
            </ul>
          </div>
        </div>

        <h2 class="titulo">{{ question.title }}</h2>
        <h3 class="descripcion">{{ question.body }}</h3>

      </div>

      <div class="izq-abajo">
        <p class="fecha">{{ question.created_at | date }}</p>
      </div>
    </div>
    <div class="contenedor-der">
      <div class="article-version">
        <p class="fecha">{{ question.created_at | date }}</p>
      </div>
      <div class="botones">
        <button (click)="confirmDelete(question)">Eliminar</button>
        <button (click)="viewQuestion(question.id)">Ver Pregunta</button>
      </div>
    </div>

  </div>

  <!-- Modal de confirmación -->
  <div class="modal" *ngIf="questionToDelete">
    <div class="modal-content">
      <h2><i class="bi bi-exclamation-triangle"></i> Confirmar Eliminación</h2>
      <p>¿Estás seguro de que deseas eliminar esta pregunta?</p>
      <div class="modal-buttons">
        <button (click)="deleteQuestion()">Sí, eliminar</button>
        <button (click)="cancelDelete()">Cancelar</button>
      </div>
    </div>
  </div>


  <!-- Paginación -->
  <div class="pagination" *ngIf="filteredQuestions.length > itemsPerPage">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
    <button *ngFor="let page of [].constructor(Math.ceil(filteredQuestions.length / itemsPerPage)); let i = index"
      (click)="changePage(i + 1)" [class.active]="currentPage === i + 1">{{ i + 1 }}</button>
    <button (click)="changePage(currentPage + 1)"
      [disabled]="currentPage === Math.ceil(filteredQuestions.length / itemsPerPage)">Siguiente</button>
  </div>