<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

<div class="cards-container">
  <div class="article-card" *ngFor="let article of paginatedArticles">

    <div class="contenedor-izq">

      <div class="izq-sup">
        <div class="card-header">

          <h1>Artículo</h1>
          <!-- Lista de categorías -->
          <div class="categories-list">
            <ul class="added-categories-list">
              <li *ngFor="let category of categories[article.id]">
                {{ category.category_name }}
              </li>
            </ul>
          </div>
        </div>

        <h2 class="titulo">{{ article.title }}</h2>

      </div>

      <div class="izq-abajo">
        <p class="fecha">{{ article.publication_date | date }}</p>

        <!-- Lista de coautores -->
        <div class="coauthors-list">
          <ul class="added-coauthors-list">
            <li *ngFor="let coauthor of coauthors[article.id]">
              <div class="user-image-container">
                <img *ngIf="coauthor.profile_img_url; else defaultImage" [src]="coauthor.profile_img_url"
                  class="coauthor-img">
                <ng-template #defaultImage>
                  <img src="assets/icons/usuario.png" alt="User">
                </ng-template>
              </div>
              <p>{{ coauthor.first_name }} {{ coauthor.last_name }}</p>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div class="contenedor-der">

      <div class="article-version">
        <ng-container *ngIf="article.pdf; else preview">
          <p>Texto completo</p>
        </ng-container>
        <ng-template #preview>
          <p>Preview</p>
        </ng-template>
      </div>


      <ng-container *ngIf="article.preview_img_url">
        <div class="article-image-container">
          <img [src]="article.preview_img_url" alt="Preview Image" class="article-img">
        </div>
      </ng-container>


      <div class="botones">
        <!-- <button>Estadisticas</button> -->
        <button>Ver artículo</button>
      </div>
    </div>
  </div>
</div>

<!-- Paginación -->
<div class="pagination" *ngIf="filteredArticles.length > itemsPerPage">
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
  <button *ngFor="let page of [].constructor(Math.ceil(filteredArticles.length / itemsPerPage)); let i = index"
    (click)="changePage(i + 1)" [class.active]="currentPage === i + 1">{{ i + 1 }}</button>
  <button (click)="changePage(currentPage + 1)"
    [disabled]="currentPage === Math.ceil(filteredArticles.length / itemsPerPage)">Siguiente</button>
</div>