$color-logo: #02182b;
$hover: #635252;
$btn: #003b5c;
$btn-hover: #004974;
$link-activo: #5c5b6e;

.container {
  display: flex;
  // justify-content: center;
  margin: 2rem;
}

.titulo {
  height: 2rem;
  text-align: left;
  margin-left: 0.5rem;

  .contenido {
    display: inline-block;

    h1 {
      margin: 0;
      font-size: 1rem;
      font-weight: 500;
    }

    hr {
      margin-top: 0.1rem;
      border: none;
      border-top: 2px solid #333;
    }
  }
}

.vertical {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.sidebar {
  // margin-left: 2rem;
  width: 15rem;
  height: 40vh;
  background-color: #f8f9fa;
  padding: 2rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  nav {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      color: #333;
      // padding: 10px 0;
      margin: 0.5rem 0;
      transition: color 0.3s;

      &:hover {
        color: $hover;
      }

      &.active-link {
        border-left: 0.2rem solid $link-activo;
        padding-left: 0.5rem;
        font-weight: bold;
        color: $link-activo;
      }
    }
  }
}

.content {
  // flex-grow: 1;
  margin: 2rem;
}
