$color-logo: #02182b;
$hover: #635252;
$btn: #003b5c;
$btn-hover: #004974;
$link: #333;
$link-activo: #5c5b6e;
$border: #d1d1ccd1;
$texto: #333;
$texto-claro: #555;
$gris: #808080;

.reset-password-container {
  width: 30%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  // text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reset-password-container h1 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;

  .campo {
    margin-bottom: 1.1rem;
    position: relative;

    label {
      display: block;
      margin-bottom: 0.2rem;
      // font-weight: bold;
      color: #555;
      font-size: 0.9rem;
    }

    input {
      width: 100%;
      padding: 0.5rem 0.3rem;
      // padding-right: 2.5rem; // Espacio para el icono
      border: 1px solid #ccc;
      border-radius: 0.25rem;
      font-size: 1rem;
      color: #333;

      &:focus {
        border-color: $btn-hover;
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    }

    .password-container {
      position: relative;

      input {
        padding-right: 2.5rem; // Espacio para el icono
      }

      .btn-eye {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        cursor: pointer;

        i {
          font-size: 1.25rem;
          color: $btn;
        }

        &:hover i {
          color: $btn-hover;
        }
      }
    }

    .error-message {
      color: red;
      // margin-top: 0.5rem;
      font-size: 0.875rem;
    }
  }

  button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    background-color: $btn;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:disabled {
      background-color: $gris;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: $btn-hover;
    }
  }
}

.success-message {
  color: #28a745;
  margin-top: 1rem;
  text-align: center;
}

.error-message-2 {
  color: #dc3545;
  margin-top: 1rem;
  text-align: center;
}
