<div class="reset-password-container">
  <h1>Restablecer Contraseña</h1>

  <div class="form">
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="campo">

        <label for="password">Nueva Contraseña:</label>
        <div class="password-container">
          <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"
            placeholder="Ingrese su nueva contraseña">
          <button type="button" class="btn-eye" (click)="togglePasswordVisibility()">
            <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
          </button>
        </div>
        <div
          *ngIf="resetForm.get('password')?.invalid && (resetForm.get('password')?.dirty || resetForm.get('password')?.touched)"
          class="error-message">
          <div *ngIf="resetForm.get('password')?.errors?.['required']">La contraseña es requerida.</div>
          <div *ngIf="resetForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 8
            caracteres.
          </div>
        </div>

      </div>

      <div class="campo">
        <label for="confirmPassword">Confirmar Contraseña:</label>
        <div class="password-container">
          <input [type]="showPassword ? 'text' : 'password'" id="confirmPassword" formControlName="confirmPassword"
            placeholder="Confirme su nueva contraseña">
          <button type="button" class="btn-eye" (click)="togglePasswordVisibility()">
            <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
          </button>
        </div>
        <div
          *ngIf="resetForm.get('confirmPassword')?.invalid && (resetForm.get('confirmPassword')?.dirty || resetForm.get('confirmPassword')?.touched)"
          class="error-message">
          <div *ngIf="resetForm.get('confirmPassword')?.errors?.['required']">La confirmación de la contraseña es
            requerida.</div>
          <div *ngIf="resetForm.errors?.['mismatch']">Las contraseñas no coinciden.</div>
        </div>
      </div>

      <button type="submit" [disabled]="resetForm.invalid">Restablecer Contraseña</button>
    </form>
  </div>

  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="error-message-2"><i class="bi bi-exclamation-triangle-fill"></i> {{ errorMessage }}
  </div>
</div>