$color-logo: #02182b;
$hover: #635252;
$btn: #003b5c;
$btn-hover: #004974;
$link: #333;
$link-activo: #5c5b6e;
$border: #d1d1ccd1;
$texto: #333;
$texto-claro: #555;

.request-pass-reset-container {
  width: 30%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.request-pass-reset-container h1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 1rem;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.form button {
  width: 100%;
  padding: 0.75rem;
  background-color: $btn;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.form button:hover:not(:disabled) {
  background-color: $btn-hover;
}

.success-message {
  color: #28a745;
  margin-top: 1rem;
}

.error-message {
  color: #dc3545;
  margin-top: 1rem;
}
