<div class="request-pass-reset-container">
  <h1>Restablecer Contraseña</h1>

  <div class="form">
    <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
      <label for="email">Correo Electrónico:</label>
      <input id="email" formControlName="email" type="email" placeholder="Ingrese su correo electrónico">
      <button type="submit" [disabled]="requestForm.invalid">Enviar Correo de Restablecimiento</button>
    </form>
  </div>

  <div *ngIf="resetMessage" class="success-message">{{ resetMessage }}</div>
  <div *ngIf="errorMessage" class="error-message"><i class="bi bi-exclamation-triangle-fill"></i> {{ errorMessage }}
  </div>
</div>