<div class="user-cards-container">
  <div class="user-card" *ngFor="let user of paginatedUsers">

    <h2 class="user-name">{{ user.first_name }} {{ user.last_name }}</h2>

    <div class="user-img">
      <div class="user-image-container">
        <ng-container *ngIf="user.profile_img_url; else defaultImage">
          <img [src]="user.profile_img_url" alt="Profile Image">
        </ng-container>
        <ng-template #defaultImage>
          <img src="assets/icons/usuario.png" alt="User">
        </ng-template>
      </div>
    </div>

    <div class="user-info">
      <div class="user-data">
        <p class="data-uni">{{ user.university }}</p>
        <p class="data-fac">{{ user.faculty }}</p>
        <p class="data-dep">{{ user.department }}</p>
      </div>

    </div>

    <div class="botones">
      <button (click)="contactUser(user.email)">Contactar</button>
    </div>

  </div>

</div>


<!-- Paginación -->
<div class="pagination" *ngIf="filteredUsers.length > itemsPerPage">
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
  <button *ngFor="let page of [].constructor(Math.ceil(filteredUsers.length / itemsPerPage)); let i = index"
    (click)="changePage(i + 1)" [class.active]="currentPage === i + 1">{{ i + 1 }}</button>
  <button (click)="changePage(currentPage + 1)"
    [disabled]="currentPage === Math.ceil(filteredUsers.length / itemsPerPage)">Siguiente</button>
</div>