<div class="cards-container user-cards">
  <div class="user-card" *ngFor="let user of filteredUsers">
    <div class="arriba">
      <h1 class="titulo">{{ user.first_name }} {{ user.last_name }}</h1>
      <div class="user-image-container">
        <ng-container *ngIf="user.profile_img_url; else defaultImage">
          <img [src]="user.profile_img_url" alt="Profile Image" class="user-img">
        </ng-container>
        <ng-template #defaultImage>
          <img src="assets/icons/usuario.png" alt="User" class="user-img">
        </ng-template>
      </div>
    </div>

    <div class="abajo">
      <!-- Lista de disciplinas -->
      <div class="categories-list">
        <h2 class="titulo-disciplinas">Disciplinas</h2>
        <ul class="added-categories-list">
          <li *ngFor="let discipline of user.user_disciplines">
            {{ discipline }}
          </li>
        </ul>
      </div>

      <div class="botones">
        <button>Ver Perfil</button>
      </div>
    </div>
  </div>

  <div class="article-card" *ngFor="let article of filteredArticles">
    <div class="arriba">
      <div class="">
        <h1>Artículo</h1>
        <h2 class="titulo">{{ article.title }}</h2>
        <p class="fecha">{{ article.publication_date | date }}</p>
      </div>

      <div class="article-image-container">
        <ng-container *ngIf="article.preview_img_url; else noPreview">
          <img [src]="article.preview_img_url" alt="Preview Image" class="article-img">
        </ng-container>
        <ng-template #noPreview>
          <p>Sin vista previa</p>
        </ng-template>
      </div>
    </div>

    <div class="abajo">
      <!-- Lista de categorías -->
      <div class="categories-list">
        <ul class="added-categories-list">
          <li *ngFor="let category of categories[article.id]">
            {{ category?.category_name }}
          </li>
        </ul>
      </div>

      <div class="botones">
        <button>Ver Artículo</button>
      </div>
    </div>
  </div>
</div>