<div class="cards-container">
  <div class="article-card" *ngFor="let user of filteredUsers">
    <h1>Usuario</h1>
    <h2 class="titulo">{{ user.first_name }} {{ user.last_name }}</h2>
    <div class="article-version">
      <ng-container *ngIf="user.profile_img_url; else defaultImage">
        <img [src]="user.profile_img_url" alt="Profile Image" class="user-img">
      </ng-container>
      <ng-template #defaultImage>
        <img src="assets/icons/usuario.png" alt="User" class="user-img">
      </ng-template>
    </div>

    <div class="abajo">
      <!-- Lista de disciplinas -->
      <div class="categories-list">
        <ul class="added-categories-list">
          <li *ngFor="let discipline of user.user_disciplines">
            {{ discipline }}
          </li>
        </ul>
      </div>

      <div class="botones">
        <button>Ver Perfil</button>
      </div>
    </div>
  </div>
</div>